<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Ions</title>

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="icon" type="image/ico"  href="favicon.ico">
        <link rel="stylesheet" href="css/test.css">
        <link rel="stylesheet" href="css/ions.css">
    </head>
    <body>
        <%= svgSprite %>
        <div class="container">
            <div class="element_container">
                <button class="btn btn-normal"> Default Button</button>
            </div>
            <div class="element_container">
                <button class="btn btn-icon-only btn-round">A</button>
            </div>
        </div>
    </body>

</html>
